@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('../images/sunny.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
    display: flex;
}

aside{
    width: 25%;
    height: 100%;
    background: rgba(137, 137, 137, 0.25);
    box-shadow: 0 8px 32px 0 rgba(8, 8, 8, 0.37);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 0 30px 30px 0;
    border-right: 1px solid rgba(255, 255, 255, 0.288);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3% 0 10%;
}

.search-container{
    width: 100%;
    padding: 0 10%;
    font-size: 1.4em;
    color: #fff;
}

.search-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.search-input{   
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(194, 194, 194);
    outline: none;
    background-color:transparent;
    color: #fff;
    padding: 0 2%;
    font-size: 1em;
}

.search-input::placeholder{
    color: rgb(194, 194, 194);
}

.search-input:focus{
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.search-container i{
    cursor: pointer;
    color: rgb(194, 194, 194);
}

.search-focus{
    color: #fff !important;
}

.city-country-name{
    text-align: center;
}

.city-name,
.country-name{
    font-size: 2em;
    font-weight: 200;
    color: #fff;
}

.country-name{
    font-size: 1.3em;
}

.weather-info{
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bi-brightness-high-fill,
.bi-cloud-rain-fill,
.bi-cloud-fill {
    font-size: 5em;
    color: yellow;
}

.weather-icon{
    font-size: 2.5em;
}

.bi-cloud-rain-fill,
.bi-cloud-fill,
.bi-moon-stars-fill{
    color: #fff;
}

.weather-info .temperature{
    font-size: 4em;
}

.weather-info .temperature .degrees{
    font-size: .7em;
}

.weather-details{
    width: 100%;
    font-size: .8em;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 10px;
    margin-top: 20px;
}

main{
    width: 75%;
    height: 100%;
    color: #fff;
    padding: 4% 8%;
    text-shadow: 0 0 15px #000;
    font-size: 1.7em;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main h2{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 2.5em;
}

.hr{
    border: 1px solid #ffffff60;
    margin: 2% 0;
    display: none;
}

.forecast-container{
    width: 100%;
    height: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.forecast{
    display: flex;
    width: 85%;
    justify-content: space-between;
}

.hourly{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-top: 20px;
    font-size: .8em;
    gap: 10px;
}

#forecastChart {
    width: 85% !important;
    height: 70% !important;
    max-height: 600px;
    margin-top: 20px;
}

.forecastIcon .bi-brightness-high-fill,
.forecastIcon .bi-cloud-rain-fill,
.forecastIcon .bi-cloud-fill{
    font-size: 1.1em;
}

@media screen and (min-width: 1440px){
    main{
        padding: 4% 8%;
        font-size: 1.4em;
    }
    
    main h2{
        font-size: 2em;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
    .hr{
        margin: 1% 0;
    }

    #forecastChart {
        width: 80% !important;
        height: 55% !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    main{
        padding: 10% 4%;
        text-shadow: 0 0 15px #000;
        font-size: 1.7em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }
    
    main h2{
        font-weight: 500;
        text-transform: capitalize;
        font-size: 2.2em;
    }
    
    aside{
        width: 35%;
        font-size: .8em;
    }

    .forecast{
        width: 95%;
    }

    #forecastChart {
        width: 90% !important;
        height: 50% !important;
    }
}

@media screen and (max-width: 768px){
    body{
        height: 100%;
        flex-direction: column;
        background-color: cover;
    }

    aside{
        width: 100%;
        gap: 20px;
        font-size: .8em;
        border-radius: 0 0 20px 20px;
    }

    main{
        width: 100%;
        height: 100%;
        color: #fff;
        padding: 4% 8%;
        text-shadow: 0 0 15px #000;
        font-size: 1.3em;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    main h2{
        font-size: 2.5em;
    }
    
    .hr{
        border: 1px solid #ffffff60;
        margin: 2% 0;
    }

    .weather-details{
        font-size: .8em;
        justify-content: space-between;
        gap: 1%;
    }
}

@media screen and (max-width: 430px) {
    body{
        width: 100vw;
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
    }

    main{
        padding: 4% 2%;
        font-size: 1em;
    }
    
    main h2{
        font-size: 2em;
    }
    
    .hr{
        margin: 1% 0;
    }

    .weather-details{
        gap: 1%;
        row-gap: 10px;
        padding: 0 5%;
    }
    
    .forecast{
        width: 95%;
    }

    #forecastChart {
        width: 90% !important;
    }
}